<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="languages" type="System.Configuration.NameValueSectionHandler">
      <section name="English" type="System.Configuration.SingleTagSectionHandler" requirePermission="false" />
    </sectionGroup>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="AppMainNamespace" value="GeneXus.Programs" />
    <add key="DataStore1" value="GXOfflineStore" />
    <add key="DataStore2" value="GAM" />
    <add key="DataStore3" value="Default" />
    <add key="DataStore-Count" value="3" />
    <add key="DataStore-Default" value="Default" />
    <add key="Connection-GXOfflineStore-DBMS" value="sqlite" />
    <add key="Connection-GXOfflineStore-LockTimeout" value="0" />
    <add key="Connection-GXOfflineStore-LockRetryCount" value="10" />
    <add key="Connection-GXOfflineStore-Datasource" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-User" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-Password" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-DB" value="GXOfflineStoredb.sqlite" />
    <add key="Connection-GXOfflineStore-Schema" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-Opts" value=";Integrated Security=yes;" />
    <add key="Connection-GXOfflineStore-TrnInt" value="1" />
    <add key="Connection-GAM-DBMS" value="sqlserver" />
    <add key="Connection-GAM-Port" value="" />
    <add key="Connection-GAM-LockTimeout" value="0" />
    <add key="Connection-GAM-LockRetryCount" value="10" />
    <add key="Connection-GAM-IsolationLevel" value="CR" />
    <add key="Connection-GAM-Datasource" value="TFjDBPsvPQnvv1T508TY9K3AA1Uo6LBpLyrE64rITGn=" />
    <add key="Connection-GAM-User" value="3nvX5R2pdmjzf7wja8Ews8==" />
    <add key="Connection-GAM-Password" value="/XTznbgTbmiHXWAx8Fhmzz9OXoA+bpd5H9ruGya2/Bu=" />
    <add key="Connection-GAM-DB" value="SoporteUserDB" />
    <add key="Connection-GAM-Schema" value="AcNMu2fK7ytcxZ3B9UN+W0==" />
    <add key="Connection-GAM-Opts" value=";Integrated Security=no;" />
    <add key="Connection-GAM-TrnInt" value="1" />
    <add key="Connection-Default-DBMS" value="sqlserver" />
    <add key="Connection-Default-Port" value="" />
    <add key="Connection-Default-LockTimeout" value="0" />
    <add key="Connection-Default-LockRetryCount" value="10" />
    <add key="Connection-Default-IsolationLevel" value="CR" />
    <add key="Connection-Default-Datasource" value="TFjDBPsvPQnvv1T508TY9K3AA1Uo6LBpLyrE64rITGn=" />
    <add key="Connection-Default-User" value="3nvX5R2pdmjzf7wja8Ews8==" />
    <add key="Connection-Default-Password" value="/XTznbgTbmiHXWAx8Fhmzz9OXoA+bpd5H9ruGya2/Bu=" />
    <add key="Connection-Default-DB" value="SoporteDB" />
    <add key="Connection-Default-Schema" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-Default-Opts" value=";Integrated Security=no;" />
    <add key="Connection-Default-TrnInt" value="1" />
    <add key="DateFormat" value="MDY" />
    <add key="YearLimit" value="1940" />
    <add key="TimeAmPmFormat" value="12" />
    <add key="VER_STAMP" value="20240312.143250" />
    <add key="CS_BLOB_PATH" value="PublicTempStorage" />
    <add key="TMPMEDIA_DIR" value="PrivateTempStorage" />
    <add key="PRINT_LAYOUT_METADATA_DIR" value="LayoutMetadata" />
    <add key="StorageTimeZone" value="1" />
    <add key="LOGIN_AS_USERID" value="0" />
    <add key="LANGUAGE" value="eng" />
    <add key="LANG_NAME" value="English" />
    <add key="DECIMAL_POINT" value="." />
    <add key="DATE_FMT" value="MDY" />
    <add key="CTOD_DATE_FMT" value="L" />
    <add key="Culture" value="en-US" />
    <add key="Theme" value="AriesCustom" />
    <add key="UseNamedParameters" value="1" />
    <add key="EnableIntegratedSecurity" value="1" />
    <add key="IntegratedSecurityLoginWeb" value="k2bfsg.login" />
    <add key="IntegratedSecurityNotAuthorizedWeb" value="k2bfsg.k2btoolsaccessdenied" />
    <add key="MAX_CURSOR" value="100" />
    <add key="STATIC_CONTENT" value="" />
    <add key="GX_BUILD_NUMBER" value="115740" />
    <add key="CACHE_CONTENT_EXPIRATION" value="36" />
    <add key="FTP_DEFAULT_USER" value="Zd8hx1OPJaolo5nN5s4nmc==" />
    <add key="FTP_DEFAULT_PASSWORD" value="kvwmxbHzjMA66dQNAHRlhn==" />
    <add key="ENABLE_MANAGEMENT" value="0" />
    <add key="OFFLINE_EVENT_BEFORE_REPLICATION" value="general.services.gxbeforeeventreplicator" />
    <add key="OFFLINE_EVENT_AFTER_REPLICATION" value="general.services.gxaftereventreplicator" />
    <add key="OFFLINE_EVENT_REPLICATION_ERROR" value="general.services.gxonpendingeventfailed" />
    <add key="COMPRESS_HTML" value="1" />
    <add key="IE_COMPATIBILITY_VIEW" value="EmulateIE7" />
    <add key="DocumentType" value="HTML5" />
    <add key="EXPOSE_METADATA" value="0" />
    <add key="SMART_CACHING" value="1" />
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
    <add key="CACHE_INVALIDATION_TOKEN" value="20243138225257" />
    <add key="CORS_ALLOW_ORIGIN" value="" />
  </appSettings>
  <languages>
    <English code="eng" time_fmt="12" decimal_point="." thousand_sep="," date_fmt="MDY" culture="en-US" rtl="false" />
  </languages>
  <log4net configSource="log.config" />
  <system.web>
    <trace enabled="false" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6.2" requestPathInvalidCharacters="" />
    <compilation optimizeCompilations="true">
      <assemblies>
        <remove assembly="GxClasses_16.0.7" />
      </assemblies>
    </compilation>
    <httpCookies sameSite="Lax" />
    <sessionState cookieSameSite="Lax" />
  </system.web>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="GeneXus.Programs.gamsdupdateregisteruser_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdupdateregisteruser_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdupdateregisteruser_services" />
      </service>
      <service name="GeneXus.Programs.gamsdchangepassworduser_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdchangepassworduser_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdchangepassworduser_services" />
      </service>
      <service name="GeneXus.Programs.gamsdnewuser_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdnewuser_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdnewuser_services" />
      </service>
      <service name="GeneXus.Programs.general.services.directionsservicerequest_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.directionsservicerequest_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.directionsservicerequest_services" />
      </service>
      <service name="GeneXus.Programs.general.services.gxonpendingeventfailed_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxonpendingeventfailed_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxonpendingeventfailed_services" />
      </service>
      <service name="GeneXus.Programs.general.services.gxbeforeeventreplicator_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxbeforeeventreplicator_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxbeforeeventreplicator_services" />
      </service>
      <service name="GeneXus.Programs.general.services.gxaftereventreplicator_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxaftereventreplicator_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.gxaftereventreplicator_services" />
      </service>
      <service name="GeneXus.Programs.general.services.notificationsregistrationhandler_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.notificationsregistrationhandler_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.general.services.notificationsregistrationhandler_services" />
      </service>
      <service name="GeneXus.Programs.asoportews_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.asoportews_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.k2btoolsgetuseencryption_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.k2btoolsgetuseencryption_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.k2btoolsgetuseencryption_services" />
      </service>
      <service name="GeneXus.Programs.k2bisauthorizedactivitylist_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.k2bisauthorizedactivitylist_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.k2bisauthorizedactivitylist_services" />
      </service>
      <service name="GeneXus.Programs.gamsdlogin_level_detail_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdlogin_level_detail_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdlogin_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.gamsdregisteruser_level_detail_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdregisteruser_level_detail_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdregisteruser_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.gamsdchangepassword_level_detail_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdchangepassword_level_detail_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdchangepassword_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.gamsdnotauthorized_level_detail_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdnotauthorized_level_detail_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdnotauthorized_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.gamsdupdateuser_level_detail_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdupdateuser_level_detail_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gamsdupdateuser_level_detail_services" />
      </service>
      <service name="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" behaviorConfiguration="gxCustomServiceBehaviorConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="customWebHttp" type="GeneXus.Utils.CustomHttpBehaviorExtensionElement, GxClasses, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa" />
        <add name="GxBehaviorExtension" type="GeneXus.Programs.GxBehaviorExtensionElement, GeneXus.Programs.Common, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="GxServiceBehaviorExtension" type="GeneXus.Programs.GxServiceBehaviorExtensionElement, GeneXus.Programs.Common, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceRestBehavior">
          <customWebHttp />
          <GxBehaviorExtension />
        </behavior>
        <behavior name="gxCustomBehaviorConfig">
          <GxBehaviorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceDefaultBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <GxServiceBehaviorExtension />
        </behavior>
        <behavior name="gxCustomServiceBehaviorConfig">
          <GxServiceBehaviorExtension />
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
        <binding name="BasicMtomBinding" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="gxWsSoapBinding">
          <textMessageEncoding messageVersion="Soap12WSAddressing10" writeEncoding="utf-8" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="GXObject" stopProcessing="true">
          <match url="^rest/(.*)/gxobject$" />
          <action type="Rewrite" url="{R:1}.svc/rest/gxobject" />
        </rule>
        <rule name="gx_valid_service" stopProcessing="true">
          <match url="^gx_valid_service(.*)$" />
          <action type="Rewrite" url="gx_valid_service.aspx{R:1}" />
        </rule>
        <rule name="gxmulticall" stopProcessing="true">
          <match url="^gxmulticall(.*)$" />
          <action type="Rewrite" url="gxmulticall.aspx{R:1}" />
        </rule>
        <rule name="metadata" stopProcessing="true">
          <match url="^rest/metadata/(.*).json$" />
          <action type="Rewrite" url="gxmetadata/{R:1}.json" />
        </rule>
        <rule name="metadataList" stopProcessing="true">
          <match url="^rest/metadata$" />
          <action type="Rewrite" url="gxmetadata/gx_entity_list.json" />
        </rule>
        <rule name="metadataImg" stopProcessing="true">
          <match url="^rest/metadata/images/(.*)$" />
          <action type="Rewrite" url="gxmetadata/images/{R:1}" />
        </rule>
        <rule name="metadataJson" stopProcessing="true">
          <match url="^rest/metadata/(.*)$" />
          <action type="Rewrite" url="gxmetadata/{R:1}.json" />
        </rule>
        <rule name="GXOAuthAccessToken" stopProcessing="true">
          <match url="^oauth/access_token$" />
          <action type="Rewrite" url="GXOAuthAccessToken.aspx" />
        </rule>
        <rule name="GXOAuthLogout" stopProcessing="true">
          <match url="^oauth/logout$" />
          <action type="Rewrite" url="GXOAuthLogout.aspx" />
        </rule>
        <rule name="GXOAuthUserInfo" stopProcessing="true">
          <match url="^oauth/userinfo$" />
          <action type="Rewrite" url="GXOAuthUserInfo.aspx" />
        </rule>
        <rule name="GXGamSignIn" stopProcessing="true">
          <match url="^oauth/gam/signin$" />
          <action type="Rewrite" url="agamextauthinput.aspx" />
        </rule>
        <rule name="GXGamCallback" stopProcessing="true">
          <match url="^oauth/gam/callback$" />
          <action type="Rewrite" url="agamextauthinput.aspx" />
        </rule>
        <rule name="GXGamAccessToken" stopProcessing="true">
          <match url="^oauth/gam/access_token$" />
          <action type="Rewrite" url="agamoauth20getaccesstoken.aspx" />
        </rule>
        <rule name="GXGamUserInfo" stopProcessing="true">
          <match url="^oauth/gam/userinfo$" />
          <action type="Rewrite" url="agamoauth20getuserinfo.aspx" />
        </rule>
        <rule name="GXGamSignOut" stopProcessing="true">
          <match url="^oauth/gam/signout$" />
          <action type="Rewrite" url="agamextauthinput.aspx" />
        </rule>
        <rule name="GXGamSamlSignin" stopProcessing="true">
          <match url="^saml/gam/signin$" />
          <action type="Rewrite" url="Saml2/SignIn" />
        </rule>
        <rule name="GXGamSamlCallBack" stopProcessing="true">
          <match url="^saml/gam/callback$" />
          <action type="Rewrite" url="gamexternalauthenticationinputsaml20_ws.aspx" />
        </rule>
        <rule name="GXGamSamlSignout" stopProcessing="true">
          <match url="^saml/gam/signout$" />
          <action type="Rewrite" url="Saml2/Logout" />
        </rule>
        <rule name="GXGamRequestTokenService" stopProcessing="true">
          <match url="^oauth/requesttokenservice$" />
          <action type="Rewrite" url="agamstsauthappgetaccesstoken.aspx" />
        </rule>
        <rule name="GXGamQueryAccessToken" stopProcessing="true">
          <match url="^oauth/queryaccesstoken$" />
          <action type="Rewrite" url="agamstsauthappvalidaccesstoken.aspx" />
        </rule>
        <rule name="GamAccessTokenV2" stopProcessing="true">
          <match url="^oauth/gam/v2.0/access_token$" />
          <action type="Rewrite" url="agamoauth20getaccesstoken_v20.aspx" />
        </rule>
        <rule name="OAuthUserInfoV2" stopProcessing="true">
          <match url="^oauth/gam/v2.0/userinfo$" />
          <action type="Rewrite" url="agamoauth20getuserinfo_v20.aspx" />
        </rule>
        <rule name="OAuthSSORestV2" stopProcessing="true">
          <match url="^oauth/gam/v2.0/RequestTokenAndUserinfo$" />
          <action type="Rewrite" url="aGAMSSORestRequestTokenAndUserInfo_v20.aspx" />
        </rule>
        <rule name="GX REST Services" stopProcessing="true">
          <match url="^rest/((?:/?[\w \.-]+)+)/?(.*)$" />
          <action type="Rewrite" url="{R:1}.svc/rest/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".tmp" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".apk" />
      <remove fileExtension=".properties" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".tmp" mimeType="image/jpeg" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <mimeMap fileExtension=".gxsd" mimeType="application/zip" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".properties" mimeType="text/plain" />
      <remove fileExtension=".cod" />
      <mimeMap fileExtension=".cod" mimeType="application/vnd.rim.cod" />
      <mimeMap fileExtension=".jad" mimeType="text/vnd.sun.j2me.app-descriptor" />
      <mimeMap fileExtension=".caf" mimeType="audio/x-caf" />
      <mimeMap fileExtension=".yaml" mimeType="text/yaml" />
      <mimeMap fileExtension=".usdz" mimeType="model/vnd.pixar.usd" />
      <mimeMap fileExtension=".sfb" mimeType="model/sfb" />
      <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
    </staticContent>
    <handlers>
      <add name="GX WebSocket Handler" verb="*" path="gxwebsocket*" type="GeneXus.Http.WSHttpHandler,gxwebsocket" />
      <add name="GeneXus.HttpHandlerFactory.HandlerFactory" verb="*" path="*.aspx" type="GeneXus.HttpHandlerFactory.HandlerFactory,gxclasses" />
      <remove name="WebDAV" />
    </handlers>
    <modules>
      <add name="GXStaticContentCache" type="GeneXus.Http.HttpModules.GXStaticCacheModule,gxclasses" />
      <add name="GXAPIServices" type="GeneXus.Http.HttpModules.GXAPIModule,gxclasses" />
      <add name="GXRewriter" type="GeneXus.Http.HttpModules.GXRewriter,gxclasses" />
      <add name="GXSessionModule" type="GeneXus.Http.HttpModules.GXSessionModule,gxclasses" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Saml2AuthenticationModule" type="Sustainsys.Saml2.HttpModule.Saml2AuthenticationModule, Sustainsys.Saml2.HttpModule" />
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
          <add segment="PrivateTempStorage" />
          <add segment="private" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="PublicTempStorage">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
    </system.webServer>
  </location>
</configuration>